<div class="footer_container d-flex flex-colum pt-5 align-items-center justify-content-center pt-0 mt-0 ">
    <div class="footer_list footer_container ">
            <ul class="nav2 nav-pills">
                <a class="identification font-weight-bold" style="font-size: calc(50% + 0.5vw)" href="identify-admin"
                ><p class="text-black">admin</p></a>
                <li class="footer_tittle d-block font-weight-bold" style="font-size: calc(50% + 1vw)">Copyright Février 2021</li>
            </ul>        
    </div></div>
