<form class="col-12 ml-5">
    <div class="row col-12 d-flex mt-3 flex-column justify-content-center">
        <div class="col-8 pb-2 ">
          <input type="text" class="form-control" placeholder="Indiquez votre nom">
        </div>
        <div class="col-8" style="font-size: calc(50% + 0.5vw)">
          <input type="text" class="form-control" placeholder="Votre prénom">
        </div>
      </div> <br/>
    <div class="form-group col-8" style="font-size: calc(50% + 1vw)">
        <label for="exampleInputEmail1" >Votre adresse email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted" style="font-size: calc(50% + 1vw)">Votre adresse courriel <br/> ne sera pas diffuser à un tiers.</small>
      </div>
    <div class="form-group col-8">
        <label for="exampleFormControlTextarea1" style="font-size: calc(50% + 0.5vw)">Votre texte</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group col-8">
        <label for="exampleFormControlFile1"style="font-size: calc(50% + 0.5vw)">Ajouter un document</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group col-12 ">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" style="font-size: calc(50% + 0.5vw)" for="invalidCheck">
            accepter les termes d'utilisations
          </label>
          <div class="invalid-feedback col-8" style="font-size: calc(50% + 0.5vw)">
            Vous devez accepter avant de soumettre.
          </div>
        </div>
      </div><div class="col-5">
      <button class="btn btn-primary col-12" style="font-size: calc(50% + 0.5vw)" type="submit">Envoi du formulaire</button>
    </div>
    </form>