<div class="home page pt-3 mt-3 col-12 d-flex flex-column align-items-self text-justify w-100 ">
    <h1 class="title font-weight-bold" style="font-size: calc(50% + 1.2vw)">En quelques mots!</h1>
    <p style="font-size: calc(50% + 1vw)">Pour vivre dans les meilleures conditions la situation sanitaire actuelle.<br/>
Nous regroupons sur notre site les activités disponibles que vous pouvez pratiquer dans les horaires autorisés,
<br/>Nous avons créer plusieurs catégories d'activités pour vous aider dans votre choix.<br/>N'hésitez pas à nous contacter pour nous informer d'une activité manquante et qui vous semble intéressante.
<br/>Pour chaque activité, vous trouverez les horaires d'ouvertures pendant lesquel vous pouvez les pratiquer.<br/><br/>
Dans tous les cas nous vous demandons de respecter les gestes barrières, <br/> vous lavez les mains régulièrements et garder une distance de 2 mètres entre vous et les autres.<br/>
Bonne visite "Prenez soin de vous !"</p>

<div class="Img pt-0 mb-4 mb-0  ">
    <div class="w-70 d-flex flex-column justify-content-center align-items-center">
    <img class="img-fluid pt-5 col-8 mt-0 pb-2" src="../../assets/img/cover-activite-tour-eiffel.jpg" alt="balade champs de mars" />
    </div>
    <div class="w-70 d-flex flex-column justify-content-center align-items-center">
        <img class="img-fluid pt-5 col-8 mt-0 " src="../../assets/img/images.jfif" alt="balade champs de mars" />
        </div>
</div></div>